/* Write your code here: */

/* exercise about group selectors */
h1,
h2 {
  color: blueviolet;
}

/* exercise about child selector */
.box > p {
  color: firebrick;
}

/* exercise about descendant selector */
.box li {
  color: blue;
}

/* exercise about chaining selector */
li.done {
  color: seagreen;
}

/* exercise about combining combiners selector */
ul p.done {
  font-size: 0.5rem;
}
